<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Diffusion Generator</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <h1>Diffusion Generator</h1>
    <h6>Refresh page to get new images</h6>
    <div class="container">
        <img src="http://localhost:5000/generate" alt="Generated Image">
        <div id="gif_animations">
            <img src="http://localhost:5000/gif_generate" alt="Generated GIF" width="150px" height="auto">
        </div>
    </div>
    <script src="/static/script.js"></script>
</body>
</html>